.wrap{
    word-break: break-word;
    text-align: center;
}
.rap > button{
    word-break: break-word;
    text-align: center;
}

.sucess{
    margin-bottom: 1cm;
}

.datepicker{
    margin-left: 8cm;
    margin-right: 1cm;
}