/* .form-control {
   
   
    transition: transform .2s;
    margin: 0 auto;
  } */
  
  /* .form-control:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  } */